/* ColorBox Core Style
-------------------------------------------------------------- */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99999;  outline:none; }
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{
	margin: auto;
	border: 0;
	display: block;
	max-width: 100%!Important;
	position: relative;
	height: auto!Important;
}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* ColorBox skin.
   The following styles are ordered & tabbed
   in a way that represents the nesting of the generated HTML.
-------------------------------------------------------------- */
#cboxOverlay{background:#333333}
.cart_notification a.btn.btn-default, .cart_notification a.btn.btn-primary {
	width: 49%;
	padding: 7px 1px 7px 1px;
	float: left;
	margin-right: 1%;
}

a#cboxNext:before, a#cboxPrevious:before {
	width: 36px;
	position: relative;
	color: #000;
	display: none;
	top: 50%;
	font-size: 50px;
	text-indent: 0px;
	margin: 0 auto;
	font-family: 'FontAwesome';
}
a#cboxPrevious:hover:before,
a#cboxNext:hover:before{
	display: block;
}
a#cboxNext:before {
	content: "\f138";
}
a#cboxPrevious:before {
	content: "\f137";
}
#colorbox{}
    #cboxContent{background:#fff; border:none;/*10px solid #333*/ padding:20px;  }
	.quickview #cboxContent{padding-right:0px; }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{width: auto!Important;}
        #cboxTitle{display:none !important;}
        #cboxCurrent{display:none !important;}
        #cboxSlideshow{display:none;}
		
		#cboxPrevious, #cboxNext {
			position: absolute;
			top: 0;
			margin-top: 0px;
			width: 11%;
			height: 45px;
			display: none;
			text-indent: -9999px;
		}
		#cboxPrevious {
			left:0px;
			height: 100%;
		}
		#cboxNext {
			right: 0px;
			height: 100%;
		}
		#cboxPrevious:after, #cboxNext:after { font-family:fontAwesome; font-size:30px; line-height:46px; text-align:center; background:#ffffff; position:absolute; display:block; width:50px; height:50px; text-indent:0; color:#222222; transition:all 300ms }
		#cboxPrevious:after {
			content:"\f104";
			display: none;
			top: 50%;
		}
		#cboxNext:after {
			content: "\f105";
			display: none;
			top: 50%;
		}
		#cboxPrevious:hover:after, #cboxNext:hover:after, #cboxClose:hover:after {
			color: #ffffff;
			background: #000;
			/* height: 50px; */
			/* font-size: 11rem; */
			/* display: block; */
			/* transition: all 300ms; */
		}
		
		#cboxClose{
			position:absolute;
			font-size:0;
			top:20px;
			right:20px;
			text-indent:-9999px;
			width:30px;
			height:30px;
		}
		#cboxClose:after { content:"\f105 \f104"; font-family: fontAwesome; letter-spacing:-2px; font-size:18px; line-height:28px; text-align:center; background:#ffffff; position:absolute; display:block; width:30px; height:30px; text-indent:0; color:#222222; transition:all 300ms}